@font-face {
  font-family: AnonymousPro;
  src: url(../fonts/AnonymousPro-Regular.ttf);
}

.container,
.main-conteiner {
  width: 1140px;
  margin: 0 auto;
}

.main-conteiner {
  background-color: white;
  border-radius: 50px;
  margin-top: 32px;
}

.main-img {
  text-align: center;
}

.main-text {
  width: 1044px;
  margin: auto;
}

.main-content {
  margin-top: 32px;
  width: 1044px;
  display: flex;
  gap: 32px;
}

.main-title {
  font-size: 48px;
  font-family: AnonymousPro;
  font-weight: 400;
  margin-bottom: 24px;
}

.main-slogan {
  font-family: AnonymousPro;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 24px;
}

.main-discription {
  width: 506px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 20px;
}

.main-discription p {
  padding-bottom: 20px;
}

.main-sneakers-info {
  width: 506px;
}

.info-title {
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 20px;
}

.line-info {
  border: 1px solid black;
}

.info-data {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  padding: 24px 0;
}

footer {
  background-color: #121723;
}

footer .container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 32px 0;
}

footer a {
  color: white;
}

.end-footer {
  color: #a1a6b4;
  font-size: 16px;
  font-weight: 700;
  padding-top: 18px;
  padding-bottom: 21px;
  text-align: center;
}

@media screen and (max-width: 400px) {
  html {
    max-width: 400px;
  }

  .container,
  .main {
    max-width: 380px;
  }

  header .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 30px;
  }

  hr {
    max-width: 343px;
    margin: 0 auto;
  }

  .main {
    margin: 32px 16px;
  }

  .main-conteiner,
  .main-text {
    max-width: 343px;
    border-radius: 12px;
  }

  .main {
    align-items: center;
  }

  .main-content {
    flex-direction: column;
    max-width: 343px;
  }

  .main-title {
    font-size: 32px;
    font-weight: 700;
    margin: 24px 0;
  }

  .main-content,
  .main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-title,
  .main-slogan,
  .main-discription,
  .main-sneakers-info {
    width: 295px;
  }

  .main-sneakers-info {
    padding-bottom: 24px;
    justify-content: space-between;
  }

  .main-slogan {
    font-size: 20px;
  }

  .main-discription {
    font-size: 16px;
    /* padding: 0 24px; */
    align-items: center;
  }

  .info-title {
    font-size: 24px;
  }

  .info-data {
    font-size: 16px;
    font-weight: 400;
  }

  .main-img img {
    width: 295px;
  }

  footer .container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 32px 0;
    align-items: center;
  }
}
